.mainContainer {
  width: 360px;
  height: 500px;
  margin: 20px auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  box-shadow: 2px 2px 5px #a79d9d;
  overflow: overlay;
}

.title {
  width: 100%;
  text-align: center;
  color: #595554;
}

.calculationContainer {
  width: -webkit-fill-available;
  border: 1px solid #e8e8e8;
  padding: 2px 5px;
  color: #676a63;
}

.userInputContainer {
  width: 100%;
  display: flex;
  border-top: 1px #aeacac solid;
  padding: 10px 0;
  margin-top: .5em;
}

.userInputContainer > button {
  background-color: #59a3c8;
  margin: 3px;
}

.todoItemsList > div > button {
  background-color: #59a3c8;
  flex: none;
}

.userInputContainer input {
  flex: 1;
  border: 1px solid #e8e8e8;
  background: white;
  padding: 2px 5px;
  color: #046288;
}

.todoItemsList {
  width: 100%;
  color: #4a97c5;
}

.todoItem {
  display: flex;
  padding: 2px 0;
}

.todoItemsList > div > p {
  width: -webkit-fill-available;
}

.todoItem input, .todoItem p {
  margin: auto .7em;
}